*{
    margin:0;
    padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
}

.foodbar {
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding:15px 15px;
}

.food-munch-logo{
    width: 80px;
    height:70px;
    margin-bottom: 10px;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    align-items: center;    
}

li{
    margin: 0 10px;
}
  
li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(187, 181, 181);
    color:black;
}


ol{
    list-style-type: none;
}
.carousel-image{
    width: 125px;
    height:100vh;
}
.about-section-container{
    display: flex;
}
.about-section-titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin: 10px 125px;
}
.about-section-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}
.about-image{
    width: 285px;
    height:285px;
    border-radius: 5px;
}
.title{
    color: rgb(237, 227, 114);
    font-size:15px;
}
.heading{
    color:black;
    font-size: 45px;
}
.description{
    color:rgb(223, 219, 219);
    font-size: 20px;
}
.button{
    background-color:rgb(237, 227, 114);
    color:black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

@media (max-width: 768px) {
  .foodbar {
      flex-direction: row;
  }

  .food-munch-logo {
      margin-bottom: 10px;
  }

  ul {
      flex-direction: row;
  }

  li {
      margin: 5px 0;
  }
}